/Ejercicio 1.1.py
/Ejercicio 1.2.py
/Ejercicio 1.3.py
/Ejercicio 2.1.py
/Ejercicio 2.2.py
/Ejercicio 4.1.py
/Ejercicio 4.2.py
/Ejercicio 4.3.py
/Ejercicio 5.1.py
/Ejercicio 5.2.py
/Ejercicio 5.3.py
/Ejercicio2.3.py
/Ejercicio3.1.py
/OPENCV
/building_perspective.png
/einstein_affine.png
/images
/roi_1.png
/roi_2.png
/roi_3.png
/Proyecto